<%- include('partials/_header') -%>
    <%- include('partials/_navigation') -%>
            <!-- Portfolio Section-->
            
            <section class="page-section portfolio mt-5" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Portfolios</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div class="row">
                        <% if(userIN) { %>
                            <h6 class="text-center text-secondary mb-3"> Hello, Let's take a look around ! </h6>
                            <% } %>
        
                        <div class="col-md-12 col-lg-12 text-center">
                            <button class="btn btn-primary text-center mb-3" href="#" data-bs-toggle="modal" data-bs-target="#addPortfolio"><span>Add New Portfolio</span></button>

                        </div>    
                    </div>

                    <!-- Add Modal Start -->
                    <div class="modal fade" id="addPortfolio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body customer-box">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Login">
                                            <form method="POST" action="/portfolios" class="form-horizontal">
                                                <div class="form-group mb-2">
                                                    <div class="col-sm-12">
                                                        <input type="text" name="title" class="form-control" placeholder="Portfolio Title">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="col-sm-12">
                                                        <textarea rows="8" name="description" class="form-control"
                                                        placeholder="Description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-radius btn-brd grd1">
                                                            Save
                                                        </button>
                                                        <button type="button" class="btn btn-secondary btn-radius btn-brd grd1"
                                                            data-bs-dismiss="modal" aria-hidden="true">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			        <!-- Add Modal End -->


                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Item 1-->
                        <% for(let i=0; i < portfolios.length; i++) { %>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto">
                              <a class="text-white" href="portfolios/<%= portfolios[i].slug %>">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" >
                                   <div class="portfolio-item-caption-content text-center text-white"><span><%= portfolios[i].title %></span></div>
                                </div>
                              </a>
                                <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." />
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>
            </section>
            <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        
<%- include('partials/_footer') -%>